body{
    text-align: center;
    background-color: rgb(21, 21, 21);
}
#game-title{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(207, 7, 7);
}
.container{
    display: block;
    margin: auto;
    width: 50%;
}
.btn{
    margin: 10px;
    border: 10px solid black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
}
.game-over {
    background-color: red;
    opacity: 0.8;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}


.pressed{
    background-color: rgb(222, 114, 114);
    box-shadow: 0 0 20px white;
}



